.card{
    width: 350px;
    height: 350px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255,255,255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
}
.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75s;
}
.card:hover .card-image{
    transform: scale(1.15);
}
.card-title{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(0,0,0,.3);
}
.container{
    display: flex;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.box{
    align-items: center;
}
.button{
    margin-top: 30px;
    width: 200px;
    height: 70px;
    border-radius: 45px;
    font-size: 1.2rem;
    font-weight: 900;
    background: #000;
    color: #fff;
    border:1px solid;
    transition: all 1s ease;
    border: 4px solid lightblue;
    transition-delay: 0.2s;
    cursor: pointer;
}
.button:hover{
    box-shadow: 0 0 7px #a8eb12, 00 10px #00e486;
    border: 4px solid #a8eb12;
    background: #a8eb12;
    color: #000;
    transition: box-shadow 7s, border 3s, background 3s, color 3s;
}

